<!doctype html>
<html>
    <head>
        <title>Munin Local Monitoring</title>
    </head>
    <body>
        <h1>Local Munin Monitoring</h1>
        <p>This page is just the local monitoring template.</p>
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/diskstats_iops-day.png' />
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/exim_mailstats-day.png' />
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_domain") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/if_eth0-day.png' />
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_domain") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/apache_accesses-day.png' />
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_domain") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/apache_processes-day.png' />
        <img src='http://<%= scope.lookupvar("muninclient::params::muninclient_master") %>/munin/<%= scope.lookupvar("muninclient::params::muninclient_domain") %>/<%= scope.lookupvar("muninclient::params::muninclient_hostname") %>/apache_volume-day.png' />
    </body>
</html>
